<footer class="main">
  <nav class="secondary">
    <ul class="pages">
      <li><a href="https://system76.com/contact">Contact</a></li>
      <li><a href="https://system76.com/support">Support</a></li>
      <li><a href="https://system76.com/about">About Us</a></li>
      <li><a href="http://blog.system76.com">Blog</a></li>
      <li><a href="https://system76.com/careers">Careers</a></li>
      <li><a href="https://system76.com/shipping">Shipping Information</a></li>
      <li><a href="https://system76.com/warranty">Warranty &amp; Returns</a></li>
      <li><a href="https://system76.com/privacy">Privacy Policy</a></li>
      <li><a href="https://system76.com/disclaimer">Disclaimer</a></li>
      <li><a href="https://system76.com/terms">Terms &amp; Conditions</a></li>
    </ul>

    <ul class="social">
      <li>
        <a href="https://facebook.com/system76/" title="Facebook">
          <i class="fa fa-facebook"></i> Facebook
        </a>
      </li>
      <li>
        <a href="https://github.com/system76" title="GitHub">
          <i class="fa fa-github"></i> GitHub
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/104919222657565747428" title="Google+">
          <i class="fa fa-google-plus"></i> Google+
        </a>
      </li>
      <li>
        <a href="https://instagram.com/system76_com" title="Instagram">
          <i class="fa fa-instagram"></i> Instagram
        </a>
      </li>
      <li>
        <a href="https://telegram.me/system76_news" title="Telegram">
          <i class="fa fa-telegram"></i> Telegram
        </a>
      </li>
      <li>
        <a href="https://twitter.com/system76/" title="Twitter">
          <i class="fa fa-twitter"></i> Twitter
        </a>
      </li>
    </ul>
  </nav>

  <div class="copyright">Copyright &copy; 2017 System76, Inc.</div>

  <div class="trademarks">
    Intel, the Intel Logo, Intel Core, Iris, and Xeon are trademarks of Intel
    Corporation or its subsidiaries in the U.S. and/or other countries.
  </div>
</footer>
