<header class="main">
  <nav>
    <a class="home" href="https://system76.com/">
      <img src="https://system76.com/assets/logo.png" alt="System76" />
    </a>

    <ul class="quick">
      <li>
        <a href="https://system76.com/contact" class="contact" title="Contact">
          <i class="fa fa-comments"></i> Contact
        </a>
      </li>
      <li>
        <a href="https://system76.com/support" class="support" title="Support">
          <i class="fa fa-life-ring"></i> Support
        </a>
      </li>
      <li>
        <a href="https://system76.com/my-account" class="account" title="My Account">
          <i class="fa fa-user"></i> Account
        </a>
      </li>
    </ul>

    <ul class="categories">
      <li><a href="https://system76.com/laptops">Laptops</a></li>
      <li><a href="https://system76.com/desktops">Desktops</a></li>
      <li><a href="https://system76.com/servers">Servers</a></li>
      <li><a href="https://system76.com/swag">Swag</a></li>
    </ul>
  </nav>
</header>
