pre {
  position: relative;

  code {
    display: block;
    margin: 0.5em auto;
    padding: 0.25em 2em 0.25em 0.5em;
    position: relative;

    background: $dark-gray;

    border-color: $black;
    border-radius: 0.375rem;

    color: $white;
    font-family: $mono;

    overflow-x: auto;
  }

  // Scroll hint, but only on block-level codeblocks
  p + &::after {
    bottom: 0;
    margin-bottom: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;

    background-image: linear-gradient(to left, $dark-gray, transparent);

    content: '';
    pointer-events: none;
  }
}
