// TODO: Better responsiveness when space-constrained

ul.tabs {
  display: block;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  // white-space: nowrap;

  li {
    display: inline;
    font-size: 0; // Fixes whitespace

    a {
      @extend #{$buttons};

      display: inline-block;

      border-radius: 0;
      border-right-width: 0.0625em; // half the normal width
      border-left-width: 0.0625em; // half the normal width

      font-size: 1rem;
    }

    &.active a {
      background-color: $brand-orange;
      color: $white;
      border-color: $brand-warm-gray;
    }

    &:first-child a {
      border-left-width: 0.125em;
      border-top-left-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
    }

    &:last-child a {
      border-right-width: 0.125em;
      border-top-right-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
    }
  }
}
